* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.wrapper {
    background: #D8DDE1;
    /* overflow: hidden; */
}

/* NavBar */
.nav-wrapper {
    margin-right: 150px;
    position: fixed;
    top: 0;
    right: 0;
    width: 100vw;
    height: 60px;
    display: grid;
    justify-content: right;
    justify-items: center;
    align-items: center;
    align-content: center;
    grid-template-columns: repeat(4, 130px);
}

.nav-wrapper a {
    font-family: 'Rokkitt', serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 27px;
    text-decoration: none;
    color:  #000000;
}

.items-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 50px);
    column-gap: 20px;
    justify-items: center;
    align-items: center;
    margin-left: 60px;
}

.box-wrapper img {
    width: 100%;
    justify-self: center;
}

.box-wrapper {
    display:grid;
    justify-items: center;
}

.items-counter {
    border-radius: 50%;
    background: #DEB101;
    padding: 13px 21px;
    color: #FFFFFF;
}

/* MAIN CONTENT */
.main-content-wrapper {
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.image-wrapper {
    display: grid;
}

.image-wrapper img {
    width: 500px;
    margin-bottom: 18px;
    align-self: end;
    justify-self: center;
    object-fit: cover;
    object-position: center;
}

.content-wrapper {
    margin-top: 60px;
    position: relative;
    z-index: 2;
}

.content-wrapper h1 {
    color: #772E4F;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-style: normal;
    font-weight: bold;
    font-size: 86px;
    line-height: 100px;
    text-align: center;
    font-family: 'Spectral', serif;
    margin-left: 50px;
}

.content-wrapper h2 {
    font-family: 'Rubik Mono One', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 29px;
    text-align: center;
    color: #762F4F;
    margin-left: 70px;
}

.button-wrapper {
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.button-wrapper button:first-of-type {
    width: 300px;
    margin-top: 15%;
    margin-left: 20%;
    font-family: 'Rasa', serif;
    padding: 15px 65px;
    border: none;
    color: #E6E7EC;
    text-align: center;
    font-weight: bold;
    font-size: 48px;
    line-height: 58px;
    background: #181816;
}

.button-wrapper button:last-of-type {
    font-family: 'Rasa', serif;
    width: 300px;
    margin-top: 5%;
    align-self: center;
    justify-self: end;
    padding: 15px 35px;
    font-size: 48px;
    line-height: 58px;
    background: #DEB101;
    font-weight: bold;
    text-align: center;
    color: #45272F;
    border: 3px solid  #45272F;
}


/* SHOES PAGE */
/* general */

.shoes-wrapper {
    background: #474C62;
}

/* NavBar */
.shoes-nav-wrapper a {
    color: #F2E5C6;
}

/* Main content */
.shoes-main-content-wrapper {
    display: grid;
    grid-template-columns: 65% 35%;
    height: 100vh;
    overflow: hidden;
}

.right-side {
    display: grid;
}

.right-side img {
    height: 100vh;
    object-fit: cover;
    object-position: center;
    justify-self: end;
    margin-right: 5%;
}

.left-side {
    align-self: center;
    height: 80vh;
    display: grid;
    /* align-content:center; */
    align-items: center;
    justify-content: center;
    justify-items: center;
}

.left-side button {
    width: 250px;
    height: 90px;
    background: #181816;
    border: none;
    font-family: Rasa;
    font-style: normal;
    font-weight: bold;
    text-align: center;
    color: #E6E7EC;
    font-size: 38px;
}

.left-side h2 {
    font-family: Rasa;
    font-style: normal;
    font-weight: bold;
    text-align: center;
    color: #F2E5C6;
    font-size: 40px;
    align-self: end;
    letter-spacing: 2px;
}

.left-side h3 {
    text-align: center;
    color: #A68C86;
    font-family: Rasa;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    align-self: start;
}

.left-side h1 {
    font-family: Rasa;
    font-style: normal;
    font-weight: bold;
    font-size: 64px;
    text-align: center;
    color: #181816;
}

#dollar {
    color: #F2E5C6;
    font-size: 97px;
}

#actual_price {
    color:  #DEB101;;
    font-size: 87px;
}

.collors-wrapper {
    position: absolute;
    width: 50px;
    height: 40vh;
    right: 3vw;
    top: 50vh;
}

.white {
    width: 50px;
    border-radius: 50%;
    height: 50px;
    background: #F2E4C5;
    margin-bottom: 3vw;
}

.yellow {
    width: 50px;
    border-radius: 50%;
    height: 50px;
    background: #BB8A1C;
    margin-bottom: 3vw;
}

.red {
    width: 50px;
    border-radius: 50%;
    height: 50px;
    background: #7B2B2F;
}